:root {
    --main-white: #f0f0f0;
    --main-red: #b33144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --font-principal: 'Poppins', sans-serif;
    --font-headings: 'Raleway', sans-serif;
}